.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    color: white;
    position: relative;
}

.logoContainer {
    height: 40px; /* Подберите под размер логотипа */
}

.logo {
    height: 100%;
    width: auto;
}

.iconsContainer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
}

.icon:hover {
    opacity: 0.7;
}

.burgerButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;

}

.mobileMenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    width: 200px;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid #333;
}

.menuItem {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
}

.menuItem:hover {
    color: #ccc;
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
    .burgerButton {
        display: flex;
    }

    .mobileMenu {
        display: flex;
    }
}